$ColRed: #c42a2d;
$ColOrange: #d9781d;
$ColLime: #c8cc19;
$ColTeal: #3fb29e;
$ColBlue: #3c77c7;
$ColGrey: #170808;
$ColSmoke: #eeeeee;
$ColRed0: ($ColRed darker 30%);
$ColRed1: ($ColRed lighter 30%);
$ColOrange0: ($ColOrange darker 30%);
$ColOrange1: ($ColOrange lighter 30%);
$ColLime0: ($ColLime darker 30%);
$ColLime1: ($ColLime lighter 30%);
$ColTeal0: ($ColTeal darker 30%);
$ColTeal1: ($ColTeal lighter 30%);
$ColBlue0: ($ColBlue darker 30%);
$ColBlue0: ($ColBlue lighter 30%);